@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}

h1 {
    font-size: 64px;
    text-align: center;
    margin: 0px;
    letter-spacing: 5px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #87CEEB;
    background-color: transparent;
}

a:hover {
    color: grey;
}
p {
  text-align: center;
  font-style: "Comfortaa";
}
.q a {
  color:#714BA0;
  font-weight: bold;
  text-decoration: none;
}
.q a:hover {
  color: grey;
}
/* iphones 6-8+ */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .about-me {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%
    }
    .photos img[src="./assets/about.jpg"] {
      display: inline-table;
      width: 70%;
      height: 70%;
    }
    .about-me ul {
      font-size: 16px;
      display: inline-table;
      flex:auto;
      padding-right: 25px;
    }
    .photos img[src="./assets/boba.jpg"] {
      display: none;
    }
}
/* iphones 6-8 */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .about-me {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%
    }
    .photos img[src="./assets/about.jpg"] {
      display: inline-table;
      width: 70%;
      height: 70%;
    }
    .about-me ul {
      font-size: 16px;
      display: inline-table;
      flex:auto;
      padding-right: 25px;
    }
    .photos img[src="./assets/boba.jpg"] {
      display: none;
    }
}

/* iPad settings */
@media only screen
  and (min-device-width: 768px) {
    .about-me ul {
      float: right;
      text-align: left;
      width: 85%;
      padding-left: 15px;
    }

}

/* reg settings */
@media only screen
  and (min-device-width: 992px) {
    .about-me ul {
      width: 70%;
      float: right;
      text-align: left;
    }

}
/* macbook */
@media only screen
  and (min-device-width: 1024px) {
    .about-me ul {
      width: 80%;
      float: right;
      text-align: left;
      padding-right:15px;
    }
}

/* laptop */
@media only screen
  and (min-device-width: 1600px) {
    .about-me ul {
      width: 70%;
      float: right;
      text-align: left;
    }

}
.about-me ul {
  line-height: 200%;

}

.navbar {
  width: 100%;
  height:75px;
  background-color: transparent;
  position: sticky;
  overflow: hidden;
}

.navbar-text {
  color: #87CEEB;
  cursor: pointer;
  font-size: 32px;
  padding-left:2px;
  padding-right:2px;
}

.navbar-text:hover {
  color: grey;
}

.navbar-icon {
  padding-right: 50px;
  display: inline;
}
